// Use @mixin for reuse

// Display mixin
@mixin flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin row {
  flex-direction: row;
}

@mixin column {
  flex-direction: column;
}

// Width mixin
@mixin full-width {
  width: 100%;
}

@mixin half {
  width: 50%;
}

.container {
  @include flex;
  @include column;
  @include full-width;
}

.top-box {
  @include flex;
  @include row;

  padding: 8em 0;

  div {
    @include flex;
    @include half;

    img {
      border-radius: 50%;
    }

    p {
      font-size: 1.5em;
      margin: 0.5em;
    }
  }
}

.projects-1, .projects-4, .projects-6 {
  @include flex;
  @include row;
  @include full-width;

  div {
    @include flex;
    @include half;
  }
}

.projects-2, .projects-3, .projects-5 {
  @include flex;
  @include row;
  @include full-width;
}
